.button {
    background: transparent;
    color: var(--bright-color);
    border: 1px solid var(--bright-color);
    border-radius: 5px;
    
    height: 60px;
    width: 150px; 
    
    padding: 5px;
    margin: 20px;
    
    font-size: 1.2em;
    cursor: pointer;

    @media screen and (max-width: 500px) {
        width: 120px;
    }

    transition: all 0.3s;

    &:hover {
        background: var(--bright-color);
        color: black;
    }
}

.small {
    font-size: 1em;

    height: 40px; 
    width: auto;

    padding: 0 20px;
    margin: 7px;
}