* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-base: "Inter", sans-serif;
  
    --primary-color: #edf2f8;
    --secondary-color: rgb(0,0,70);
    --bright-color: #8cc6e5;
    --lightGray-color: gray;
    --background-first-color: #102030;
    --background-second-color: #000d10;
    --white-color: #ffffff;
}